<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Shopping List App</title>
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{header ? header.toLocaleUpperCase() : 'WELCOME'}}</h1>
            <button @click="changeState('edit')" v-if="state==='default'" class="btn btn-primary">Add Item</button>
            <button @click="changeState('default')" v-else class="btn btn-cancel">Cancel</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input @keyup.enter="saveItem" type="text" v-model="newItem" placeholder="Add a new item">
            <button @click="saveItem" class="btn btn-primary">Save Item</button>
        </div>
        
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <p v-if="items.length === 0">Nice job! You have bought all your items.</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        // com varialvel shoppingList podemos alterar o valor do
        // header diretamente e vemos na tela alterar tanto header
        // quanto input. O outro modo é alterar input e ver header mudar
        // two-way data bind
        let shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'shopping list app',
                newItem: '',
                items: [
                    // '10 party hats',
                    // '2 board game',
                    // '20 cups'
                ],
            },
            methods: {
                saveItem: function(){
                    this.items.push(this.newItem);
                    this.newItem = '';
                },
                changeState: function(newState){
                    this.state = newState;
                    this.newItem = '';
                }
            }
        })
    </script>
</body>

</html>