<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Shopping List App</title>
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{header ? header.toLocaleUpperCase() : 'WELCOME'}}</h1>
            <button @click="changeState('edit')" v-if="state==='default'" class="btn btn-primary">Add Item</button>
            <button @click="changeState('default')" v-else class="btn btn-cancel">Cancel</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <!-- v-on tem shorthand @ -->
            <input @keyup.enter="saveItemFromInput" type="text" v-model="newItem" placeholder="Add a new item">
            <p>{{characterCounter}}/200</p>
            <!-- v-bind tem shorthand : -->
            <button @click="saveItem" :disabled="newItem.length===0" class="btn btn-primary">Save Item</button>
        </div>
        <!-- <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
        <ul>
            <li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
        </ul>
        <p v-if="items.length === 0">Nice job! You have bought all your items.</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        // com varialvel shoppingList podemos alterar o valor do
        // header diretamente e vemos na tela alterar tanto header
        // quanto input. O outro modo é alterar input e ver header mudar
        // two-way data bind
        let shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'shopping list app',
                newItem: '',
                items: [
                    {
                        label: '10 party hats',
                        purchased: false,
                        highPriority: false
                    },
                    {
                        label: '2 board game',
                        purchased: true,
                        highPriority: false
                    },
                    {
                        label: '20 cups',
                        purchased: false,
                        highPriority: true
                    },
                ],
            },
            computed: {
                characterCounter: function(){
                    return this.newItem.length;
                },
            },
            methods: {
                saveItem: function () {
                    this.items.push({
                        label: this.newItem,
                        purchased: false,
                    });
                    this.newItem = '';
                },
                saveItemFromInput: function () {
                    if (this.newItem.length > 0) {
                        this.items.push({
                            label: this.newItem,
                            purchased: false,
                        });
                        this.newItem = '';
                    }
                },
                changeState: function (newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item){
                    item.purchased = !item.purchased;
                }
            }
        })
    </script>
</body>

</html>